<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
<P>
<A HREF="SIESTA-logo-233x125.png">
<iMG SRC ="SIESTA-logo-233x125.png"
ALT = "[SIESTA Logo]">
</A>
</p>  
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/About/overview.html">About</a></li>
        <li><a href="/CodeAccess/index.html">Code</a></li>
	<li><a href="/Documentation/index.html">Documentation</a></li>
        <li><a href="/Pseudopotentials/index.html">Pseudopotentials</a>]
	<li><a href="/About/team.html">The Team</a></li>
<!-- remove from now 	<li><a href="/cv">CV</a></li> -->
	<li><a href="/blog">News</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
	<!-- <li><a href="http://">github.com/albgar</a></li> -->
      </ul>
    </footer>
  </body>
  </html>
