<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
  </head>
  <body>
<P>
<img SRC ="{{ site.baseurl }}/SIESTA-logo-233x125.png"
ALT = "[SIESTA Logo]">
</p>  
    <nav>
      <ul>
	<li><a href="{{ site.baseurl }}/">Home</a></li>
	<li><a href="{{ site.baseurl }}/About/overview.html">About</a></li>
        <li><a href="{{ site.baseurl }}/CodeAccess/index.html">Code</a></li>
	<li><a href="{{ site.baseurl }}/Documentation/index.html">Documentation</a></li>
        <li><a href="{{ site.baseurl }}/Pseudopotentials/index.html">Pseudopotentials</a>
	<li><a href="{{ site.baseurl }}/About/team.html">The Team</a></li>
<!-- remove from now 	<li><a href="/cv">CV</a></li> -->
	<li><a href="{{ site.baseurl }}/blog">News</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
<li><iMG class="sponsors" SRC ="{{ site.baseurl }}/marca-excellencia-trans.png"
ALT = "[Severo Ochoa]">
<li><iMG class="sponsors" SRC ="{{ site.baseurl }}/MaX.png"
ALT = "[MaX CoE]">
	<!-- <li><a href="http://">github.com/albgar</a></li> -->
      </ul>
    </footer>
  </body>
  </html>
