<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl
						 }}/css/main.css">
    <link rel="shortcut icon" href='{{ "favicon.ico" | relative_url }}' >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
<body>
<P>
  <img SRC ="{{ site.baseurl }}/SIESTA-logo-233x125.png"
       ALT = "[SIESTA Logo]">
</p>

{% include navigation.html %}

<div class="container">

  {{ content }}

</div>

{% include footer.html %}

</body>
</html>
